      <footer class="footer">
        
    <div class="icon-links">
          {{ partial "social_links.html" . }} 
    </div>

   <div class='footer-links-about'>
    <a href="/about">About</a><a href='/contact'>Contact</a>
   </div>

    <div class='footer-links'>
        <p>Code and design by <a href='/'>Kuncara Hadi</a> </p>
    </div>
      </footer>

    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
    {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
