{{ partial "header.html" . }}
<div class="container is-success is-light"><br></div>
<main class="container" role="main">

  {{ if .Content }}
  <article class="container">
    {{ if .Title }}
    <h1 class="title is-2 strong-post-title">{{ .Title }}</h1>
    {{ end }}
    <div class="markdown">
      {{ .Content }}
    </div>
  </article>
  {{ end }}
   
  <div >
  <div class="container is-fluid top-pad">

  {{ range .Pages.ByPublishDate.Reverse }}
    <div class="summary"><br>{{ if .Params.date }}{{ .Date.Format (.Site.Params.dateFormat | default "Jan 02, 2006") }}{{ end }}
      <h3 class="title is-3 strong-post-title">
        <a href="{{ .Permalink }}">
            {{ .Title | markdownify }}
        </a>
      </h3>
      <div class="markdown">
          {{ .Summary }}
          {{ if .Truncated }}
          <a href="{{ .Permalink }}"> Read More </a>
          {{ end }}
      </div>
    </div>
  {{ end }}
  </div>
</div>


</main>

{{ partial "footer.html" . }}
