{{ partial "header.html" . }}

<main class="container" role="main">

  {{ if .Content }}
  <article class="article">
    {{ if .Title }}
    <h1 class="article-title">{{ .Title }}</h1>
    {{ end }}
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>
  {{ end }}
  <div class="container">
    {{ $pages := .Pages }}
    {{ if .IsHome }}
    {{ $pages = .Site.RegularPages }}
    {{ end }}
    {{ range (where $pages "Section" "!=" "").GroupBy "Section" }}
    <h1 class="archive-title">{{ .Key | upper}}</h1>
    {{ range .Pages }}
    <h2>
      <article class="archive-item">
      <div><a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a>
      <span class="archive-item-date">
        {{ .Date.Format "2006-01-02" }}
      </span>
      </div>
      <div class="archive-description">
					{{ if isset .Params "description" }}
					{{ .Description }}
					{{ else if gt (len .Plain) 200 }}
					{{ slicestr .Plain 0 200 | htmlUnescape }}...
					{{ else }}
					{{ .Plain  | htmlUnescape }}
					{{ end }}
			</div>
		</h2>
    
    </article>
    {{ end }}
    {{ end }}
  </div>

<!-- Change the range number here to affect the maximum number of items in your grid -->
      {{ range first 50 (where .Data.Pages "Type" "post") }}

        <div class="container 
        {{ range .Params.categories }}{{ . }}{{ end }}" data-tags="{{ delimit .Params.tags ", " }}">
          <a class="item__link" href="{{ .Permalink }}">
            {{ if .Params.thumbnail }}
              <img class="item__image" src="{{ .RelPermalink }}{{ .Params.thumbnail }}" alt="{{ .Params.imageAlt }}" class="img-responsive">
            {{else if .Params.image}}
              <img class="item__image" src="{{ .RelPermalink }}{{ .Params.image }}" alt="{{ .Params.imageAlt }}" class="img-responsive">
            {{end}}
            <div class="item__details">
              {{ range .Params.categories }}
                <p class='item__meta-category'>{{ . }}</p>
              {{ end }}

              <div class="details__title">
                <h4>{{ .Title }}</h4>
              </div>
              <div class="details__date">
                <p>{{ .Date.Format "January 2 2006" }} • {{ .ReadingTime }} min read</p>
              </div>
              <div class="details__desc">
                <p>
                  {{ if .Description }}
                      {{ .Description }}
                  {{ else }}
                      {{ .Summary | plainify | safeHTML }}
                  {{ end }}
                </p>
              </div>
              <div class="item__meta">
                <!-- <p class='item__meta-category'>{{ .Params.categories }}</p> -->
                <span class='card-tag' >{{ delimit .Params.tags ", " }}</span>

              </div>
            </div>


          </a>
        </div>

      {{ end }}

</main>

{{ partial "footer.html" . }}
