{{ partial "header.html" . }}

<main class="container" role="main">

  {{ if .Content }}
  <article class="article">
    {{ if .Title }}
    <h1 class="article-title">{{ .Title }}</h1>
    {{ end }}
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>
  {{ end }}
  <div class="container">
    {{ $pages := .Pages }}
    {{ if .IsHome }}
    {{ $pages = .Site.RegularPages }}
    {{ end }}
    {{ range (where $pages "Section" "!=" "").GroupBy "Section" }}
    <h1 class="archive-title">{{ .Key | upper}}</h1>
    {{ range .Pages }}
    <h2>
      <article class="archive-item">
      <div><a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a>
      <span class="archive-item-date">
        {{ .Date.Format "2006-01-02" }}
      </span>
      </div>
      <div class="archive-description">
					{{ if isset .Params "description" }}
					{{ .Description }}
					{{ else if gt (len .Plain) 200 }}
					{{ slicestr .Plain 0 200 | htmlUnescape }}...
					{{ else }}
					{{ .Plain  | htmlUnescape }}
					{{ end }}
			</div>
		</h2>
    
    </article>
    {{ end }}
    {{ end }}
  </div>

<hr>
    <div class="container markdown top-pad">
        {{ .Content }}
    </div>
    <div class="container">
        <ul>
            {{ range .Pages.ByPublishDate.Reverse }}
            {{ if .Date }}
            <li>
                <a href="{{ .Permalink }}">{{ .Date.Format (.Site.Params.dateFormat | default "Jan 02, 2006") }} | {{ .Title | markdownify }}</a>
            </li>
            {{ else }}
            <li>
                <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </div>
</main>

{{ partial "footer.html" . }}
