{{ partial "header.html" . }}

<main class="container" role="main">

   <div class="section is-medium">
   <article class="container is-fluid top-pad">

    <span class="summary">{{ .Date.Format "2006-01-02" }}</span> <span class="post-data"> | {{ .ReadingTime }} min read</span>
    <div class="title top-pad strong-post-title">{{ .Title }}</div>
    <div class="container markdown top-pad">
      {{ .Content }}
    </div>
  
  </article>
  </div>

  {{ partial "disqus.html" .}}

 
</main>

{{ partial "footer.html" . }}


