{{ partial "header.html" . }}

<main class="section is-medium" role="main">

  <article class="container">
    {{ if eq .Section "post" }}
    <span class="post-data">{{ .ReadingTime }} min read</span>
    {{ end }}

    <h1 class="title top-pad strong-post-title">{{ .Title }}</h1>

    {{ if eq .Section "post" }}
    <span class="article-date">{{ .Date.Format "2006-01-02" }}</span>
    {{ end }}

    <div class="container markdown top-pad">
      {{ .Content }}
    </div>
  
  </article>

  {{ partial "disqus.html" .}}

 
</main>

{{ partial "footer.html" . }}


