      <footer class="footer">
        
    <div class= "footer-item">
      <div class="icon-links">
          {{- range $name, $path := .Site.Params.social }}
            {{/* social icons */}}
            {{- if $path }}
              {{- $realName := $name }}
              {{- $filePath := (print "svg/" $realName ".svg") }}
              <a href="{{ $path | safeURL }}" rel="me noopener" class="iconfont"
                title="{{ $realName }}" {{ if not (hasPrefix $path "mailto:") }} target="_blank"
                {{ end }}>
                {{ partial $filePath }}
              </a>
            {{- end }}
          {{- end }}

      </div>
      <div class='footer-desc'>
        <div class='footer-about'>
        <a href="/about">About</a><a href='/contact'>Contact</a>
        </div>

        <div class='footer-links'>
        <p>Code and design by <a href='/'>Kuncara Hadi</a> </p>
        </div>
    </div>
      </footer>

    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
    {{ template "_internal/google_analytics.html" . }}
     {{ partial "footer_contact" . }}
    <script src="{{ "/js/auto-hide.js" | relURL }}"></script>
    <script src="{{ "/js/bulma.js" | relURL }}"></script>
  </body>
</html>
