<section class="hero is-fullheight">
		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="columns is-8 is-variable ">
					<div class="column is-two-thirds has-text-left">
						<h1 class="title is-1">Contact Us</h1>
						<p class="is-size-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi soluta
							voluptate facere molestiae consequatur.</p>
						<div class="social-media">
							{{- range $name, $path := .Site.Params.social }}
                                {{/* social icons */}}
                                {{- if $path }}
                                {{- $realName := $name }}
                                {{- $filePath := (print "svg/" $realName ".svg") }}
                                <a href="{{ $path | safeURL }}" rel="me noopener" class="button is-light is-large"
                                    title="{{ $realName }}" {{ if not (hasPrefix $path "mailto:") }} target="_blank"
                                    {{ end }}>
                                    {{ partial $filePath }}
                                </a>
                                {{- end }}
                            {{- end }}
						</div>
					</div>
					<div class="column is-one-third has-text-left">
                    <form action="https://getform.io/f/e896f409-d1b7-4888-aa72-fde9f9dc526e" method="POST" enctype="multipart/form-data" class="contact__form" id="contactForm">
						<div class="field">
							<label class="label">Name</label>
							<div class="control">
								<input class="input is-medium" type="text"  name="name" placeholder="Your Name">
							</div>
						</div>
						<div class="field">
							<label class="label">Email</label>
							<div class="control">
								<input class="input is-medium" type="email" name="email" placeholder="Your Email">
							</div>
						</div>
						<div class="field">
							<label class="label">Message</label>
							<div class="control">
								<textarea class="textarea is-medium" name="message" placeholder="Type your message here..."></textarea>
							</div>
						</div>
                        <div class="field">
							<label class="label">Attachment (max. 2mb) </label>
							<div class="control">
								<input type="file" name="file" class="input is-medium">
							</div>
						</div>
						<div class="control">
							<button type="submit" class="button is-link is-fullwidth has-text-weight-medium is-medium">Send Message</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
