<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
      <section class="hero is-small is-bold has-background-grey">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            {{if .Site.Params.logo.use}}
                            <a href="{{ "/" | relURL }}" class="navbar-item">
                                <img src="{{ print "images/" .Site.Params.logo.url | relURL }}"
                                width="{{ .Site.Params.logo.width }}"
                                height="{{ .Site.Params.logo.height }}"
                                alt="{{ .Site.Params.logo.alt }}">
                            </a>
                            {{end}}
                            <span class="navbar-burger burger" data-target="navbarMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        <div id="navbarMenu" class="navbar-menu">
                            <div class="navbar-end">
                                <div class="tabs is-right">
                                   <ul class="is-active">
                                      {{ range .Site.Menus.main }}
                                      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                                      {{ end }}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </section>  


    