{{ define "main" }}
<main class="contact">
        <h1 class="article-title">{{ .Title }}</h1>
      <div class="article-content">
      {{ .Content }}
      </div>

<form action="https://getform.io/f/e896f409-d1b7-4888-aa72-fde9f9dc526e" method="POST" enctype="multipart/form-data" class="contact__form" id="contactForm">

<div class="contact__name"> <input type="text" name="name" placeholder="Your Name"> </div>

<div class="contact__email"> <input type="email" name="email" placeholder="Your Email"> </div>
  
<div class="contact__msg">  <textarea name="message" placeholder="Type your message here..."> </textarea></div>
  
<div class="contact__submit">  <input type="file" name="file"> </div> 
  
<div class="contact__submit"> <button type="submit">Send</button> </div> 

</form>

</main>
{{ end }}